html {
	font-size:100%;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body {
	color:#fff;
	margin:0;
	font-size:0.9em;
	line-height:1.231;
	background:#393630;
}
body,button,input,select {
	font-family: 'Ubuntu';
}
textarea {
	width:93%;
	max-width:42em;
	display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu Mono';
	color:#FFF;
	background:rgba(0,0,0,0.4);
}
div .mainbody {
	margin-left:auto;
	margin-right:auto;
	max-width:42em;
	padding:10px;
}
#documentation { 
	margin:auto;
	width:93%;
	height:400px;
}
#help
{
	margin:20px;
	width:70%;
	background:rgba(0,0,0,0.4);
	border-radius:20px;
	text-align:center;
	font-size:1.1em;
	padding:0px 10px;
	text-decoration:none;
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
}
form {
	margin-left:auto;
	margin-right:auto;
	max-width:42em;
}
a {
	margin-left:auto;
	margin-right:auto;
	max-width:42em;
}
/*a {
	color:#00e;
}
a:visited {
	color:#551a8b;
}
a:hover {
	color: #06e;
}
*/
a:focus {
	outline:thin dotted;
}
a:hover,a:active {
	outline:0;
}
b,strong {
	font-weight:bold;
}
pre,code {
	font-family:'Ubuntu Mono',monospace;
	font-size:0.9em;
}
code {
	margin:20px auto 40px;
	width:70%;
	background:rgba(0,0,0,0.4);
	color:#fff;
	border-radius:3px;
	text-align:center;
	font-size:1.1em;
	padding:2px 4px;
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
}
pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}
ul,ol {
	margin:1em 0;
	padding:0 0 0 40px;
	width:auto;
	max-width: 42em;
	margin-left: auto;
	margin-right: auto;
}
dd {
	margin:0 0 0 40px;
}
nav ul,nav ol {
	list-style:none;
	list-style-image:none;
	padding:0;
}
img {
	border:0;
	-ms-interpolation-mode:bicubic;
	vertical-align:middle;
}
header a {
	display:block;
	text-indent:-6000px;
	color:#fff;
	overflow:hidden;
	width:45px;
	height:45px;
	margin:40px;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
.hellobox {
	height:230px;
	margin:0;
	text-align:center;
	-webkit-animation:fadeIn 1s;
	-moz-animation:fadeIn 1s;
	background:#000 no-repeat center bottom;
	border-top: 1px solid transparent;
	background:#000 url('../images/yellow-flower.jpg') no-repeat center top;
}
.roboticsbox {
    background:#000 url('../images/LTM_7953.jpg') no-repeat center top;
}

.wrap {
	width: 42em;
	margin: 0 auto;
}

h1 {
	font-weight:900;
	font-size:8em;
	letter-spacing:-5px;
	color:#fff;
	text-align:center;
	margin:0 0 10px 0;
	padding:60px 0 0 0;
	text-shadow:0 0 30px rgba(58,93,125,0.67);
	line-height:1em;
	-webkit-animation-delay:1s;
	-webkit-transform:translate3d(0,0,0) transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
h1:hover,h1:focus {
	-webkit-animation:shakey .25s ease-in-out alternate;
	-moz-animation:shakey .25s ease-in-out alternate;
	-webkit-transform:translate3d(10,10,10);
}
h2 {
	font-weight:100;
	font-size:3em;
	color:#fff;
	text-align:center;
	border-radius:4px;
	padding:0;
	margin:0;
	margin: 0;
	line-height: 3em;
	text-shadow:0 0 5px rgba(58,93,125,1);
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
h4 {
	font-size:1.7em;
	font-weight:200;
	margin:20px 20px 10px 20px;
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
h3, h4, h5 {
	margin: 10px auto auto auto;
	max-width:42em
}
h3 {
	font-size:1.8em;
}
h5 {
	font-size:1.2em;
}
nav {
	background:rgba(0,0,0,0.4);
	text-align:center;
}
p {
	font-size:1.1em;
	width:auto;
	max-width: 42em;
	margin-left: auto;
	margin-right: auto;
	padding:0 10pt;
}

nav ul li {
	display:inline-block;
	margin:22px 10px 23px;
	color:#fff;
	font-weight:200;
	color:#999;
	text-transform:uppercase;
	font-size:1.2em;
}
nav ul li a {
	color:#fff;
	text-decoration:none;
	font-size:1.2em;
	padding:6px 12px;
	border-radius:4px;
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
nav ul li a.active {
	color:#ff9200;
	background:rgba(255,255,255,0.3);
}
.navbar {
}
footer {
	color:#fff;
	text-align:center;
}
.center
{
    text-align:center;
}
pre {
	margin:20px auto 40px;
	width:70%;
	background:rgba(0,0,0,0.4);
	display:block;
	color:#fff;
	border-radius:8px;
	text-align:left;
	font-size:1.3em;
	padding:20px 30px;
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
.clearfix:before,.clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom: 1;
}

.wrap {
  width: 600px;
  margin: 0 auto;
}

dl {
  color: rgba(255,255,255,0.5);
}
dl dt {
  font-weight: 600;
  line-height: 2em;
  font-size: 1.4em;
  color: #E8E6E2;
}
dl dd {
  margin-left: 0;
  font-size: 1.1em;
  line-height: 1.4em;
}

a, a:link {
  color: #ff9400;
}

/* 404 page */
body#unsupported-page,
body#not-found-page {
	background: #f8f8f8;
	text-align: center;
}
#unsupported-page h2,
#not-found-page h2 {
	font-size: 60px;
	color: #626262;
	text-shadow: none;
	font-weight: 600;
	margin: 50px 0 20px 0;
	line-height: normal;
}
#not-found-page a.return-home {
	display: inline-block;
	color : #9a9a9a;
	letter-spacing: .04em;
	margin: 0 0 100px 0;
	text-decoration: none;
	border-bottom: 1px solid #9a9a9a;
}
#unsupported-page p,
#not-found-page a.return-home p {
	font-size: 25px;
	font-weight: 100;
	color: #9a9a9a;
	margin: 0;
}
.astronaut-problem-wrapper {
	width: 664px;
	height: 455px;
	margin: 0 auto 50px;
	background: url(//koding.com/img/space.gif) no-repeat center center;
	position: relative;
}
.astronaut-problem-wrapper .astronaut-problem {
	left: 155px;
	top: 30px;
	position: absolute;
	-webkit-transform: translateY(10px);
	-webkit-animation: astronautHover 5s infinite ease;
	-moz-transform: translateY(10px);
	-moz-animation: astronautHover 5s infinite ease;
	transform: translateY(10px);
	animation: astronautHover 5s infinite ease;
}
#unsupported-page .browsers {
	width: 200px;
	height: 60px;
	margin: 30px auto 10px;
}
#unsupported-page .browsers .browser-icon {
	width: 60px;
	height: 60px;
	float: left;
	display: block;
}
#unsupported-page .browsers .browser-icon~.browser-icon {
	margin-left: 10px;
}
.browser-icon.safari {
	background: url(//koding.com/img/safari.png);
}
.browser-icon.chrome {
	background: url(//koding.com/img/chrome.png);
}
.browser-icon.firefox {
	background: url(//koding.com/img/firefox.png);
}

@-webkit-keyframes astronautHover {
	0% {
		-webkit-transform: translateY(10px) translateX(0);
	}
	50% {
		-webkit-transform: translateY(-10px)  translateX(-10px);
	}
	100% {
		-webkit-transform: translateY(10px)  translateX(0);
	}
}
@-moz-keyframes astronautHover {
	0% {
		-moz-transform: translateY(10px) translateX(0);
	}
	50% {
		-moz-transform: translateY(-10px)  translateX(-10px);
	}
	100% {
		-moz-transform: translateY(10px)  translateX(0);
	}
}
@keyframes astronautHover {
	0% {
		transform: translateY(10px) translateX(0);
	}
	50% {
		transform: translateY(-10px)  translateX(-10px);
	}
	100% {
		transform: translateY(10px)  translateX(0);
	}
}
@media only screen and (max-width:1300px) {
	h1 {
		font-size:6em;
		letter-spacing:-2px;
		margin:0 0 10px 0;
		padding:80px 0 0 0;
	}
}
@media only screen and (max-width:1000px) {
	h1 {
		font-size:4em;
		letter-spacing:-2px;
		margin:0 0 10px 0;
		padding:40px 0 0 0;
	}
	h2 {
		font-size:2em;
	}
	h3 {
		font-size:1.4em;
	}
	h4 {
		font-size:1.2em;
	}
	h5 {
		font-size:1.1em;
	}
	dl dt {
		font-size: 1.2em;
	}

	dl dd {
		font-size: 1em;
	}
	nav ul li a {
		font-size:1.2em;
		padding:4px 6px;
		border-radius:4px;
	}
	pre {
		margin:20px auto 40px;
		width:70%;
		font-size:1.1em;
		padding:20px 30px;
	}
	.hellobox {
		height:130px;
		background-size:auto 230px;
	}
	.wrap {
		box-sizing: border-box;
		width: 100%;
		padding: 0 1em;
	}
}
@media only screen and (max-width:642px) {
	h1 {
		font-size:3em;
		letter-spacing:-2px;
		margin:0 0 10px 0;
		padding:40px 0 0 0;
	}
	.hellobox {
		height:150px;
		background-size:auto 230px;
	}
}